
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
  justify-content: center;
  align-items: center;
}
h1,h2,h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

}
  /* Contenedor del video */
.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Asegura que el video no se salga del contenedor */
    z-index: -1; /* Envía el video al fondo */
  }
  /* Estilo del video */
  .video-background video {
    width: 100%; /* Asegura que el video cubra todo el ancho */
    height: 100vh; /* Asegura que el video cubra toda la altura */
    object-fit: cover; /* Recorta el video para que se ajuste al contenedor */
    
  }
  /*Parte de Encima del video*/
  @media (max-width: 992px) {
    .inicio h1 {
        padding-top: 80px;
    }
    .inicio .boton{
      transform: translate(-50%, -100%) !important; /* Ajusta la posición al centro exacto */
    }
}
  .inicio h1{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta la posición al centro exacto */
    z-index: 1;
  }
  .inicio h1{
    color: #fff;
  }
  .inicio .boton{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta la posición al centro exacto */
    z-index: 1;
    padding-bottom: 35%;
  }
  .inicio .boton a{
    padding: 20px 40px;
    color: white;
    background-color: rgba(52, 48, 48, 0.7);
    border-radius: 15px; /* Bordes redondeados, pero menos exagerados */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Efecto suave para fondo y sombra */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave debajo del botón */
    border: none; /* Eliminar cualquier borde visible */
    font-weight: bold; /* Letra un poco más destacada */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: large;
    text-decoration: none;
  }
  .inicio .boton a:hover{
    background-color: rgba(198, 109, 35, 0.7);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Aumenta ligeramente la sombra */
    transform: translateY(-2px);
  }
  /*Sección 2*/
  .section2{
    background-color: #555;

  }
  .section2 h2 {
    padding-top: 80px;
  }
  iframe{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 60%;
    max-height: 60%;
  }
/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center; /* Centra el texto */
  background-image: url('../img/map-image.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
}

footer .information {
  margin-bottom: 20px;
}

footer .information ol {
  list-style: decimal;
  padding-left: 0; /* Elimina el padding izquierdo */
}

footer .information ol li {
  display: inline; /* Muestra los elementos en línea */
  margin-right: 10px; /* Espacio entre los elementos */
}

footer .information ol li a {
  text-decoration: none;
  color: #fff;
}

footer .social-table {
  margin: 20px auto; /* Centra la tabla horizontalmente */
  border-collapse: collapse; /* Elimina los bordes duplicados */
}

footer .social-table td {
  padding: 10px; /* Espaciado interno entre la imagen y los bordes de la celda */
  text-align: center; /* Centrar contenido dentro de las celdas */
}

footer .social-table img {
  width: 50px; /* Ajusta el tamaño de las imágenes */
  height: 50px;
  border-radius: 50%; /* Hace las imágenes redondas */
  transition: transform 0.3s ease; /* Animación de zoom al pasar el mouse */
}

footer .social-table img:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

footer p {
  margin-top: 20px;
}
.wave-container {
  background-color: rgb(126, 132, 138);
  
}
.grey-container{
  background-color: white;
}
